html, body, #map {
  height: 100%;
  padding: 0;
  margin: 0;
  background: black;
}

.cartodb-infowindow {
  position: absolute;
}

.CDB-infowindow {
  max-width: 200px;
  width: 200px;
}

.CDB-infowindow-subtitle {
  font-weight: 600;
}

.CDB-infowindow-listItem {
  word-break: break-word;
}

.CDB-Tooltip-wrapper {
  display: block !important;
  min-width: 200px;
  max-width: 200px;
  pointer-events: none;
}

.cartodb-tooltip {
  position: absolute;
}